<br>
<div #carouselExampleSlidesOnly class="carousel slide">
    <div class="carousel-inner center">      
      <div class="carousel-item orange">
        <img src="/assets/images/angular.png" alt="books" class="img" />
      </div>
      <div class="carousel-item blue">
        <img src="/assets/images/java.png" alt="books" class="img" />
      </div>
      <div class="carousel-item blue">
        <img src="/assets/images/react.png" alt="books" class="img" />
      </div>
      <div class="carousel-item blue">
        <img src="/assets/images/python.png" alt="books" class="img" />
      </div>
      <div class="carousel-item red active">
        <img src="/assets/images/thirukural_big.png" alt="books" class="img" />
      </div>      
    </div>
</div>